{% extends 'base.html' %}

{% block content %}

<section class="hero">
    <div class="hero-text">
        <h1>Hi, I'm A. Thirumani Akash</h1>
        <h2>Web Developer (Python & Flask)|日本語学習中 (N4)</h2>
        <p>
            I build clean and simple web applications using Python, Flask,
            HTML and CSS. I'm passionate about learning and improving my full-stack skills.
        </p>
        <a href="/projects" class="btn">View My Projects</a>
    </div>
    <div class="japanese-badge">
    こんにちは <br> <span>KONNICHIWA</span>
</div>

    <div class="hero-image">
        <img src="{{ url_for('static', filename='image/akash.png') }}" alt="profile photo">
    </div>
</section>

{% endblock %}