{% extends 'base.html' %}
{% block content %}
<section class="resume-section">
    <h1 class="section-title">Resume</h1>

    <a href="{{ url_for('static', filename='resume.pdf') }}" 
       class="btn download-btn" 
       download>
       Download Resume
    </a>

    <div class="resume-card">
        <h2>Contact</h2>

        <p><strong>Email:</strong> akashuchia442@gmail.com</p>
        <p><strong>Phone:</strong> 7418849102</p>
        <p>
            <strong>LinkedIn:</strong>
            <a href="https://www.linkedin.com/in/a-thirumani-akash-b24513371" target="_blank">
                View Profile
            </a>
        </p>
    </div>
</section>
{% endblock %}